@import "login";
@import "themify-icons/variables";
@import "themify-icons/mixins";
@font-face {
  font-family: 'themify';
  src: url("fonts/themify.eot?-fvbane");
  src: url("fonts/themify.eot?#iefix-fvbane") format('embedded-opentype'), url("fonts/themify.woff?-fvbane") format('woff'), url("fonts/themify.ttf?-fvbane") format('truetype'), url("fonts/themify.svg?-fvbane#themify") format('svg');
  font-weight: normal;
  font-style: normal;
}
@import "themify-icons/core";
@import "themify-icons/extras";
@import "themify-icons/icons";
@import "./flags.scss";
// @import "mixins";
@import "color"; // Variables;

.btn-outline {
  border: 1px solid transparent !important;
  background-color: transparent !important;
  box-shadow: none !important;
  @each $color_name, $color in $colors {
     @each $color_type, $color_value in $color{
      @if $color_type == "base" {
        &.#{$color_name} {
          border-color: $color_value !important;
          color: $color_value !important;
          background-color: transparent !important;
        }
      }

      @else if $color_name != "shades" {
        &.#{$color_name}.#{$color_type} {
          border-color: $color_value !important;
          color: $color_value !important;
          background-color: transparent !important;
        }
      }
    }
  }
}
@import "variables"; // Reset
@import "normalize"; // components
@import "global";
@import "badges";
@import "icons-material-design";
@import "grid";
@import "navbar";
@import "roboto";
@import "typography";
@import "transitions";
@import "cards";
@import "toast"; // .mt {
@import "tabs"; // }
@import "tooltip";
@import "buttons";
.crud-model-overflow{
  padding-bottom: 60px;
}
.dropup {
  top: inherit !important;
    bottom: 0px;
}
.btn-md {
  padding: 0 0.5rem !important;
}
.btn-sm {
  padding: 0 7px !important;
  height: 24px;
  line-height: 24px;
  font-size: 0.9rem;
}

.btn-group {
  display: flex;
  align-items: center;

  .btn,
  .btn-flat {
    &:first-child {
      border-radius: 2px 0 0 2px;
    }

    &:last-child {
      border-radius: 0 2px 2px 0;
    }
    border-radius: 0;
    padding: 0 0.9rem;
    box-shadow: none;
  }
}
@import "dropdown";
@import "waves";
@import "modal";
.no-margin {
  margin: 0 !important;
}

.modal {
  &.modal-fixed-header {
    .modal-header {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      position: absolute;
      top: 0;
    }

    .modal-header {
      border-radius: 0 0 2px 2px;
      //background-color: #fafafa;
      padding: 4px 6px;
      height: 56px;
      width: 100%;
      display: flex;
      align-items: center;
    }

    .modal-content {
      margin-top: 56px;
    }
  }

  &.modal-fixed-footer.modal-fixed-header {
    .modal-content {
      margin-top: inherit;
      position: absolute;
      top: 56px;
      height: calc(100% - 112px);
      max-height: 100%;
      width: 100%;
      overflow-y: auto;
    }
  }
}
@import "collapsible";
@import "chips";
@import "materialbox";
@import "grid";
@import "forms/forms"; // .force-static {
//   position: static;
// }
// .mt-form {
//   .row {
//     display: block !important;
//   }
//   .input-group-addon {
//     background-color: transparent;
//     border: none;
//   }
//
//   .input-field label.clear {
//     position: relative;
//     pointer-events: auto;
//   }
// }
//
// .dropdown-content li > a {
//   text-decoration: none;
// }
@import "table_of_contents";
@import "sideNav";
@import "preloader";
@import "slider";
@import "carousel";
@import "tapTarget";
@import "pulse";
@import "date_picker/default";
@import "date_picker/default.date";
@import "date_picker/default.time";
$base: #343c49;
$topBarHeight: 70px;
$bgColor: #DFDFDF;
$sideMenuBg: #FFF;
$iconSize: 24px;
$expandedWidth: 240px;

body {
  margin: 0;
  font-size: 14px;
}

.admin-frame {
  * {
    box-sizing: border-box;
  }
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: $bgColor;

  #crud-model-paginator {
    // background-color:  lighten($base, 50%); //map-get($grey, base);
    background-color: map-get($grey, lighten-1);
    bottom: -20px !important;
    position: fixed !important;
    width: calc(100vw - #{$topBarHeight});
    left: $topBarHeight !important;
    z-index: 10;
  }

  menu[data-role=top-bar] {
    @import "topbar";
    color: white;
    top: 0;
    left: 0;
    position: absolute;
    height: $topBarHeight;
    width: 100vw;
    background-color: $base;
    margin: 0;
    padding: 0;
    display: block;

    > * {
      height: $topBarHeight;
    }

    > a, .nav > li > a {
      color: inherit;
      height: $topBarHeight;
      padding: 0;

      i {
        padding: ($topBarHeight - $iconSize)/2 $iconSize/2;
        font-size: $iconSize;
        line-height: $iconSize;
      }
    }

    .dropdown-user {
      a {
        padding: 9px 15px;

        i {
          padding: 0;
          font-size: 14px;
          line-height: inherit;
        }
      }
    }

    #logo {
      width: $topBarHeight;
      height: $topBarHeight;
      padding: ($topBarHeight - 30px) / 2;
      text-align: center;

      > img {
        max-width: 30px;
        max-height: 30px;
        vertical-align: middle;
      }

      > span {
        display: none;
        vertical-align: middle;
        margin-left: 10px;
        font-size: 1.5rem;
        font-weight: 600;
        color: #eff0f3;
      }
    }
  }

  @import "sidebar";

  section[data-role=content] {
    top: $topBarHeight;
    background-color: $bgColor;
    position: absolute;
    padding: 20px;
    margin-left: 0;
    width: 100vw;
    height: calc(100vh - #{$topBarHeight});
    overflow-y: auto;
    overflow-x: hidden;

    &.fixed {
      width: calc(100vw - #{$expandedWidth});
      left: $expandedWidth;
    }
    @media (max-width: 600px) {
      padding: 0;
    }
    @media (min-width: 576px) {
      left: $topBarHeight;
      width: calc(100vw - #{$topBarHeight});
    }
  }

  &.expanded {
    menu[data-role=top-bar] {
      #logo {
        width: $expandedWidth;

        span {
          display: inline-block;
        }
      }
    }

    section[data-role=content] {}
  }
}

.scale-up {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  display: inline-block;
  -webkit-transform-origin: right 0;
  -ms-transform-origin: right 0;
  transform-origin: right 0;
}

.show > .scale-up {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: right 0;
  -ms-transform-origin: right 0;
  transform-origin: right 0;
}

ul:not(.browser-default) {
  overflow: hidden;
}





.input-field .prefix ~ .flex-field {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem);
    display: flex;
    > * {
       margin-bottom: 20px;
     }
}

.input-field .prefix ~ .flex-field {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem);
    display: flex;
    > * {
       margin-bottom: 20px;
     }
}
