.flag {
  background-color: #e6e6e6;
    border: 1px solid #bdbdbd;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px #c5c5c5;
    width: 30px;
    height: 30px;
    display: inline-block;
}
.flag::after {
  content: " ";
  width: 16px !important;
  height: 11px !important;
  background: url(http://country.io/static/flags/flags.png) 0 0 no-repeat;
  display: inline-block;
  transform: scale(1.2, 1.2) translate(5.3px, 2px);
}

.flag.flag-ad::after {background-position: -16px 0}
.flag.flag-ae::after {background-position: -32px 0}
.flag.flag-af::after {background-position: -48px 0}
.flag.flag-ag::after {background-position: -64px 0}
.flag.flag-ai::after {background-position: -80px 0}
.flag.flag-al::after {background-position: -96px 0}
.flag.flag-am::after {background-position: -112px 0}
.flag.flag-an::after {background-position: -128px 0}
.flag.flag-ao::after {background-position: -144px 0}
.flag.flag-ar::after {background-position: -160px 0}
.flag.flag-as::after {background-position: -176px 0}
.flag.flag-at::after {background-position: -192px 0}
.flag.flag-au::after {background-position: -208px 0}
.flag.flag-aw::after {background-position: -224px 0}
.flag.flag-az::after {background-position: -240px 0}
.flag.flag-ba::after {background-position: 0 -11px}
.flag.flag-bb::after {background-position: -16px -11px}
.flag.flag-bd::after {background-position: -32px -11px}
.flag.flag-be::after {background-position: -48px -11px}
.flag.flag-bf::after {background-position: -64px -11px}
.flag.flag-bg::after {background-position: -80px -11px}
.flag.flag-bh::after {background-position: -96px -11px}
.flag.flag-bi::after {background-position: -112px -11px}
.flag.flag-bj::after {background-position: -128px -11px}
.flag.flag-bm::after {background-position: -144px -11px}
.flag.flag-bn::after {background-position: -160px -11px}
.flag.flag-bo::after {background-position: -176px -11px}
.flag.flag-br::after {background-position: -192px -11px}
.flag.flag-bs::after {background-position: -208px -11px}
.flag.flag-bt::after {background-position: -224px -11px}
.flag.flag-bv::after {background-position: -240px -11px}
.flag.flag-bw::after {background-position: 0 -22px}
.flag.flag-by::after {background-position: -16px -22px}
.flag.flag-bz::after {background-position: -32px -22px}
.flag.flag-ca::after {background-position: -48px -22px}
.flag.flag-catalonia::after {background-position: -64px -22px}
.flag.flag-cd::after {background-position: -80px -22px}
.flag.flag-cf::after {background-position: -96px -22px}
.flag.flag-cg::after {background-position: -112px -22px}
.flag.flag-ch::after {background-position: -128px -22px}
.flag.flag-ci::after {background-position: -144px -22px}
.flag.flag-ck::after {background-position: -160px -22px}
.flag.flag-cl::after {background-position: -176px -22px}
.flag.flag-cm::after {background-position: -192px -22px}
.flag.flag-cn::after {background-position: -208px -22px}
.flag.flag-co::after {background-position: -224px -22px}
.flag.flag-cr::after {background-position: -240px -22px}
.flag.flag-cu::after {background-position: 0 -33px}
.flag.flag-cv::after {background-position: -16px -33px}
.flag.flag-cw::after {background-position: -32px -33px}
.flag.flag-cy::after {background-position: -48px -33px}
.flag.flag-cz::after {background-position: -64px -33px}
.flag.flag-de::after {background-position: -80px -33px}
.flag.flag-dj::after {background-position: -96px -33px}
.flag.flag-dk::after {background-position: -112px -33px}
.flag.flag-dm::after {background-position: -128px -33px}
.flag.flag-do::after {background-position: -144px -33px}
.flag.flag-dz::after {background-position: -160px -33px}
.flag.flag-ec::after {background-position: -176px -33px}
.flag.flag-ee::after {background-position: -192px -33px}
.flag.flag-eg::after {background-position: -208px -33px}
.flag.flag-eh::after {background-position: -224px -33px}
.flag.flag-england::after {background-position: -240px -33px}
.flag.flag-er::after {background-position: 0 -44px}
.flag.flag-es::after {background-position: -16px -44px}
.flag.flag-et::after {background-position: -32px -44px}
.flag.flag-eu::after {background-position: -48px -44px}
.flag.flag-fi::after {background-position: -64px -44px}
.flag.flag-fj::after {background-position: -80px -44px}
.flag.flag-fk::after {background-position: -96px -44px}
.flag.flag-fm::after {background-position: -112px -44px}
.flag.flag-fo::after {background-position: -128px -44px}
.flag.flag-fr::after {background-position: -144px -44px}
.flag.flag-ga::after {background-position: -160px -44px}
.flag.flag-gb::after {background-position: -176px -44px}
.flag.flag-gd::after {background-position: -192px -44px}
.flag.flag-ge::after {background-position: -208px -44px}
.flag.flag-gf::after {background-position: -224px -44px}
.flag.flag-gg::after {background-position: -240px -44px}
.flag.flag-gh::after {background-position: 0 -55px}
.flag.flag-gi::after {background-position: -16px -55px}
.flag.flag-gl::after {background-position: -32px -55px}
.flag.flag-gm::after {background-position: -48px -55px}
.flag.flag-gn::after {background-position: -64px -55px}
.flag.flag-gp::after {background-position: -80px -55px}
.flag.flag-gq::after {background-position: -96px -55px}
.flag.flag-gr::after {background-position: -112px -55px}
.flag.flag-gs::after {background-position: -128px -55px}
.flag.flag-gt::after {background-position: -144px -55px}
.flag.flag-gu::after {background-position: -160px -55px}
.flag.flag-gw::after {background-position: -176px -55px}
.flag.flag-gy::after {background-position: -192px -55px}
.flag.flag-hk::after {background-position: -208px -55px}
.flag.flag-hm::after {background-position: -224px -55px}
.flag.flag-hn::after {background-position: -240px -55px}
.flag.flag-hr::after {background-position: 0 -66px}
.flag.flag-ht::after {background-position: -16px -66px}
.flag.flag-hu::after {background-position: -32px -66px}
.flag.flag-ic::after {background-position: -48px -66px}
.flag.flag-id::after {background-position: -64px -66px}
.flag.flag-ie::after {background-position: -80px -66px}
.flag.flag-il::after {background-position: -96px -66px}
.flag.flag-im::after {background-position: -112px -66px}
.flag.flag-in::after {background-position: -128px -66px}
.flag.flag-io::after {background-position: -144px -66px}
.flag.flag-iq::after {background-position: -160px -66px}
.flag.flag-ir::after {background-position: -176px -66px}
.flag.flag-is::after {background-position: -192px -66px}
.flag.flag-it::after {background-position: -208px -66px}
.flag.flag-je::after {background-position: -224px -66px}
.flag.flag-jm::after {background-position: -240px -66px}
.flag.flag-jo::after {background-position: 0 -77px}
.flag.flag-jp::after {background-position: -16px -77px}
.flag.flag-ke::after {background-position: -32px -77px}
.flag.flag-kg::after {background-position: -48px -77px}
.flag.flag-kh::after {background-position: -64px -77px}
.flag.flag-ki::after {background-position: -80px -77px}
.flag.flag-km::after {background-position: -96px -77px}
.flag.flag-kn::after {background-position: -112px -77px}
.flag.flag-kp::after {background-position: -128px -77px}
.flag.flag-kr::after {background-position: -144px -77px}
.flag.flag-kurdistan::after {background-position: -160px -77px}
.flag.flag-kw::after {background-position: -176px -77px}
.flag.flag-ky::after {background-position: -192px -77px}
.flag.flag-kz::after {background-position: -208px -77px}
.flag.flag-la::after {background-position: -224px -77px}
.flag.flag-lb::after {background-position: -240px -77px}
.flag.flag-lc::after {background-position: 0 -88px}
.flag.flag-li::after {background-position: -16px -88px}
.flag.flag-lk::after {background-position: -32px -88px}
.flag.flag-lr::after {background-position: -48px -88px}
.flag.flag-ls::after {background-position: -64px -88px}
.flag.flag-lt::after {background-position: -80px -88px}
.flag.flag-lu::after {background-position: -96px -88px}
.flag.flag-lv::after {background-position: -112px -88px}
.flag.flag-ly::after {background-position: -128px -88px}
.flag.flag-ma::after {background-position: -144px -88px}
.flag.flag-mc::after {background-position: -160px -88px}
.flag.flag-md::after {background-position: -176px -88px}
.flag.flag-me::after {background-position: -192px -88px}
.flag.flag-mg::after {background-position: -208px -88px}
.flag.flag-mh::after {background-position: -224px -88px}
.flag.flag-mk::after {background-position: -240px -88px}
.flag.flag-ml::after {background-position: 0 -99px}
.flag.flag-mm::after {background-position: -16px -99px}
.flag.flag-mn::after {background-position: -32px -99px}
.flag.flag-mo::after {background-position: -48px -99px}
.flag.flag-mp::after {background-position: -64px -99px}
.flag.flag-mq::after {background-position: -80px -99px}
.flag.flag-mr::after {background-position: -96px -99px}
.flag.flag-ms::after {background-position: -112px -99px}
.flag.flag-mt::after {background-position: -128px -99px}
.flag.flag-mu::after {background-position: -144px -99px}
.flag.flag-mv::after {background-position: -160px -99px}
.flag.flag-mw::after {background-position: -176px -99px}
.flag.flag-mx::after {background-position: -192px -99px}
.flag.flag-my::after {background-position: -208px -99px}
.flag.flag-mz::after {background-position: -224px -99px}
.flag.flag-na::after {background-position: -240px -99px}
.flag.flag-nc::after {background-position: 0 -110px}
.flag.flag-ne::after {background-position: -16px -110px}
.flag.flag-nf::after {background-position: -32px -110px}
.flag.flag-ng::after {background-position: -48px -110px}
.flag.flag-ni::after {background-position: -64px -110px}
.flag.flag-nl::after {background-position: -80px -110px}
.flag.flag-no::after {background-position: -96px -110px}
.flag.flag-np::after {background-position: -112px -110px}
.flag.flag-nr::after {background-position: -128px -110px}
.flag.flag-nu::after {background-position: -144px -110px}
.flag.flag-nz::after {background-position: -160px -110px}
.flag.flag-om::after {background-position: -176px -110px}
.flag.flag-pa::after {background-position: -192px -110px}
.flag.flag-pe::after {background-position: -208px -110px}
.flag.flag-pf::after {background-position: -224px -110px}
.flag.flag-pg::after {background-position: -240px -110px}
.flag.flag-ph::after {background-position: 0 -121px}
.flag.flag-pk::after {background-position: -16px -121px}
.flag.flag-pl::after {background-position: -32px -121px}
.flag.flag-pm::after {background-position: -48px -121px}
.flag.flag-pn::after {background-position: -64px -121px}
.flag.flag-pr::after {background-position: -80px -121px}
.flag.flag-ps::after {background-position: -96px -121px}
.flag.flag-pt::after {background-position: -112px -121px}
.flag.flag-pw::after {background-position: -128px -121px}
.flag.flag-py::after {background-position: -144px -121px}
.flag.flag-qa::after {background-position: -160px -121px}
.flag.flag-re::after {background-position: -176px -121px}
.flag.flag-ro::after {background-position: -192px -121px}
.flag.flag-rs::after {background-position: -208px -121px}
.flag.flag-ru::after {background-position: -224px -121px}
.flag.flag-rw::after {background-position: -240px -121px}
.flag.flag-sa::after {background-position: 0 -132px}
.flag.flag-sb::after {background-position: -16px -132px}
.flag.flag-sc::after {background-position: -32px -132px}
.flag.flag-scotland::after {background-position: -48px -132px}
.flag.flag-sd::after {background-position: -64px -132px}
.flag.flag-se::after {background-position: -80px -132px}
.flag.flag-sg::after {background-position: -96px -132px}
.flag.flag-sh::after {background-position: -112px -132px}
.flag.flag-si::after {background-position: -128px -132px}
.flag.flag-sk::after {background-position: -144px -132px}
.flag.flag-sl::after {background-position: -160px -132px}
.flag.flag-sm::after {background-position: -176px -132px}
.flag.flag-sn::after {background-position: -192px -132px}
.flag.flag-so::after {background-position: -208px -132px}
.flag.flag-somaliland::after {background-position: -224px -132px}
.flag.flag-sr::after {background-position: -240px -132px}
.flag.flag-ss::after {background-position: 0 -143px}
.flag.flag-st::after {background-position: -16px -143px}
.flag.flag-sv::after {background-position: -32px -143px}
.flag.flag-sx::after {background-position: -48px -143px}
.flag.flag-sy::after {background-position: -64px -143px}
.flag.flag-sz::after {background-position: -80px -143px}
.flag.flag-tc::after {background-position: -96px -143px}
.flag.flag-td::after {background-position: -112px -143px}
.flag.flag-tf::after {background-position: -128px -143px}
.flag.flag-tg::after {background-position: -144px -143px}
.flag.flag-th::after {background-position: -160px -143px}
.flag.flag-tj::after {background-position: -176px -143px}
.flag.flag-tk::after {background-position: -192px -143px}
.flag.flag-tl::after {background-position: -208px -143px}
.flag.flag-tm::after {background-position: -224px -143px}
.flag.flag-tn::after {background-position: -240px -143px}
.flag.flag-to::after {background-position: 0 -154px}
.flag.flag-tr::after {background-position: -16px -154px}
.flag.flag-tt::after {background-position: -32px -154px}
.flag.flag-tv::after {background-position: -48px -154px}
.flag.flag-tw::after {background-position: -64px -154px}
.flag.flag-tz::after {background-position: -80px -154px}
.flag.flag-ua::after {background-position: -96px -154px}
.flag.flag-ug::after {background-position: -112px -154px}
.flag.flag-um::after {background-position: -128px -154px}
.flag.flag-us::after {background-position: -144px -154px}
.flag.flag-uy::after {background-position: -160px -154px}
.flag.flag-uz::after {background-position: -176px -154px}
.flag.flag-va::after {background-position: -192px -154px}
.flag.flag-vc::after {background-position: -208px -154px}
.flag.flag-ve::after {background-position: -224px -154px}
.flag.flag-vg::after {background-position: -240px -154px}
.flag.flag-vi::after {background-position: 0 -165px}
.flag.flag-vn::after {background-position: -16px -165px}
.flag.flag-vu::after {background-position: -32px -165px}
.flag.flag-wales::after {background-position: -48px -165px}
.flag.flag-wf::after {background-position: -64px -165px}
.flag.flag-ws::after {background-position: -80px -165px}
.flag.flag-ye::after {background-position: -96px -165px}
.flag.flag-yt::after {background-position: -112px -165px}
.flag.flag-za::after {background-position: -128px -165px}
.flag.flag-zanzibar::after {background-position: -144px -165px}
.flag.flag-zm::after {background-position: -160px -165px}
.flag.flag-zw::after {background-position: -176px -165px}
