.login-register {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  padding: 10% 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 400;

  #loginform {
    img.logo {
      max-height: 80px;
    }
  }
}

.main_logo {
  width: 100%;
  height: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
  opacity: 0.5;
  text-align: center;

  img {
    width: 60%;
    margin: 0 auto;
  }
}

.login-box {
  *:not(input, a, button, label) {
    user-select: none;
  }
  img {
    pointer-events: none;
  }
  width: 400px;
  margin: 0 auto !important;
  .card-content {
    position: relative;
    overflow: visible;
  }
}

.login-box .footer {
  width: 100%;
  left: 0;
  right: 0;
}

.login-box .social {
  display: block;
  margin-bottom: 30px;
}

#recoverform {
  display: none;
}

.login-sidebar {
  padding: 0;
  margin-top: 0;
}

.login-sidebar .login-box {
  right: 0;
  position: absolute;
  height: 100%;
}
