&.expanded {
  [data-role=navigation] {
    border-right: 2px solid #AAA;
    width: $expandedWidth;
    padding: 10px;

    li {
      width: $expandedWidth - 20px;

      &:not(.active) {
        box-shadow: none;

        a:hover {
          background-color: white;
          color: lighten($base,10%);
        }
      }

      span {
        display: inline-block;
      }
    }
  }
}
[data-role=navigation] {
  z-index: 300;
  transition: all 0.3s ease-out;
  overflow: hidden;
  position: absolute;
  top: $topBarHeight;
  width: 0;
  margin: 0;
  padding: 0;
  height: calc(100vh - #{$topBarHeight});
  background-color: $sideMenuBg;
  list-style: none;
  @media (min-width: 576px) {
    width: 70px;
    padding: 10px;
  }

  &:hover {
    overflow: visible;
  }

  li {
    margin-bottom: 0.6rem;
    overflow: hidden;
    transition: 0.2s all ease-in-out;
    width: 50px;
    border-radius: 4px;

    &:hover {
      width: $expandedWidth;

      span {
        display: inline-block;
      }
    }

    &.active,
    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

      a {
        background-color: #767676;
        color: #FFF;
      }
    }

    a {
      width: 240px;
      padding: 9px 15px;
      color: rgba(96,125,139,.56);
      overflow: hidden;

      * {
        font-size: 1.1rem;
        line-height: 1.1rem;
      }

      span {
        display: none;
        margin-left: 10px;
        font-size: 1.2rem;
      }
    }
  }
}
