.nav {
  list-style: none;

  > li {
    display: inline-block;
    vertical-align: top;
  }
}

#profileMenu {
  .dw-user-box {
    cursor: default;
    padding: 10px 15px;
    width: 300px;
    * {
      cursor: default;
    }
    a {
      cursor: pointer;
    }
    .u-text {
      word-break: break-all;
      width: calc(100% - 85px);
      display: inline-block;
      padding-left: 10px;
      * {
        margin: 0;
        margin-bottom: 0.2rem;
      }
    }

    .u-img {
      width: 80px;
      display: inline-block;
      vertical-align: top;

      img {
        width: 80px;
        height: 80px;
        border-radius: 5px;
      }
    }
  }
}
