<menu data-role="top-bar">
  {{#link-to 'index' class="waves-effect waves-light" title=webapp.name id="logo" }}
    <img src="{{webapp.logo}}" />
    <span> {{webapp.name}}</span>
  {{/link-to}}
  {{#if webapp.expandable}}
    <a class="action waves-effect waves-light" {{action 'toggleMenu'}}><i class="fa fa-bars"/></a>
  {{/if}}
  <div class="nav right">
    {{#each-in webapp.topmenu as |key menu|}}
      {{component
        'drop-menu'
        fns=actions
        model=menu
        action=(action menu.action)
        layoutName=menu.layoutName
      }}
    {{/each-in}}
  </div>
</menu>
<section data-role="content" class="{{unless webapp.expandable 'fixed'}}">
  {{yield}}
</section>
<div data-role="navigation">
  {{#each webapp.pages as |page|}}
    {{component
      'drop-menu'
      fns=actions
      model=page
      data-id=page.route
      layoutName=menu.layoutName
    }}
  {{/each}}
</div>