<select onchange= {{action 'update' value="target.value"}}>
  {{#if defVal}}
  <option value="" disabled>{{defVal}}</option>
  {{/if}}
  {{#each source as |item index|}}
    {{#if useObj}}
    <option selected={{eq (get item key) (get value key)}} value="{{index}}">{{yield (hash id=index value=item)}}</option>
    {{else if useIndexValue}}
    <option selected={{eq item value}} value="{{index}}">{{yield (hash id=index value=item)}}</option>
    {{else}}
    <option selected={{eq2 index value}} value="{{index}}">{{yield (hash id=index value=item)}}</option>
    {{/if}}
  {{/each}}
</select>
{{#if label}}
  <label>{{label}}</label>
{{/if}}