{{#select-single
  label=configuration.label
  value=(get model field)
    key=configuration.source
   useObj=configuration.catalog.useObj
   useIndexValue=configuration.catalog.useIndexValue
   defVal=configuration.label
   source=records as |item|}}
   {{item}}
  {{#if configuration.catalog.renderer}}
    {{eval configuration.catalog.renderer item.value}}
  {{else}}
    {{#if configuration.catalog.useIndexValue}}
      {{t item.value}}
    {{else}}
      {{t (concat '' (get item.value configuration.source))}}
    {{/if}}
  {{/if}}
{{/select-single}}