{{#if model.action}}
  <a
    {{action model.action model.action_param}}
    class="nav-link action waves-effect waves-light {{if model.tooltip.title 'tooltipped'}}"
    data-tooltip="{{model.tooltip.title}}"
    data-position="{{model.tooltip.placement}}">
    {{partial 'drop-down-icon'}}
  </a>
{{else}}
  {{#if model.param}}
    {{#link-to model.route model.param
      data-id=mode.route
      class=(concat "nav-link action waves-effect waves-light" (if model.tooltip.title 'tooltipped' ''))
      data-tooltip=model.tooltip.title
      data-position=model.tooltip.placement}}
      {{partial 'drop-down-icon'}}
    {{/link-to}}
  {{else}}
    {{#link-to model.route
      data-id=mode.route
      class=(concat "nav-link action waves-effect waves-light" (if model.tooltip.title 'tooltipped' ''))
      data-tooltip=model.tooltip.title
      data-position=model.tooltip.placement}}
      {{partial 'drop-down-icon'}}
    {{/link-to}}
  {{/if}}

{{/if}}