<section id="wrapper" class="login-register login-sidebar" style="background-image:url(/img/login_screen.jpg);">
  <div class="login-box card">
    <a class="main_logo">
      <img src="{{logo}}" alt="SAAI"/>
    </a>
    <form class="card-content" id="loginform" {{action 'authenticate' on='submit'}}>
      <div class="row center-align">
          <img class="logo" src="{{host_logo}}">
      </div>
      <div class="row">
        <div class="input-field col s12">
          {{input id="username" value=identification class="validate" type="text" required="required"}}
          <label for="username">Usuario</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          {{input id="password" value=password class="validate" type="password" required="required"}}
          <label for="password">Contraseña</label>
        </div>
      </div>
      <div class="row center-align">
        <button class="btn white-text blue btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Iniciar Sesión</button>
      </div>
    </form>
  </div>
</section>